<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Library Management System</title>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="container mt-4">
            <h2>Library Management System</h2>

            <!-- Add Book Form Button with Bootstrap -->
            <div class="text-right mb-3">
                <a href="/books/add" class="btn btn-primary">Add Book</a>
            </div>

            <!-- Book Card Deck with Bootstrap features -->
            <div class="row">
                <!-- Book Card (Repeat for each book) -->
                <div class="col-lg-6 mb-4" th:each="book : ${books}">
                    <div class="card border-primary">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img th:src="${book.imageName}"
                                                class="card-img rounded-left"
                                                alt="Book Image">
                                        </div>
                                        <div class="col-md-8">
                                            <h5 class="card-title"
                                                th:text="${book.name}"></h5>
                                            <p class="card-text"
                                                th:text="${book.description}"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <video th:src="${book.videoUrl}"
                                                controls
                                                style="width: 100%; height: auto;"></video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
            <script src="/static/js/script.js"></script>
        </div>
    </body>
</html>
